<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/recipe-list">Recipe List</a></li>
    <li><a href="/recipe-create">Create a Recipe</a></li>
    <li><a href="/cook-list">Cook List</a></li>
    <li><a href="/cook-create">Create a Cook</a></li>
  </ul>
</nav>