{{> nav }}

<form action="/recipe/add" method="post">
  <label for="">Title:</label>
  <input type="text" name="title"><br>

  <label for="">Level:</label>
  <input type="text" name="level"><br>

  <label for="">Ingredients:</label>
  <input type="text" name="ingredients"><br>

  <label for="">Cuisine</label>
  <input type="text" name="cuisine"><br>

  <label for="">Dishtype</label>
  <input type="text" name="dishType"><br>
  
  <label for="">Image</label>
  <input type="text" name="image"><br>

  <label for="">Duration</label>
  <input type="number" name="duration"><br>

  <label for="">Creator</label>
  <input type="text" name="creator"><br>

  <label for="">Created on</label>
  <input type="date" name="created"><br>

  <label for="">Cook</label>
  <select name="cook">
    {{#each cooks}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select><br>

  <button type="submit">ADD</button>
</form>
