body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #F7F9F9;
  margin: 0;
}

h1 {
  margin-left: 10px;
}

h2 {
  font-size: 1.8em;
  margin: 15px 0 5px 0 ;
}

h3 {
  font-size: 1.4em;
  margin: 5px 0 5px 0 ;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2081C3;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
}

nav ul li a:hover {
  background-color: #0A2C42;
}

footer {
  background-color: #0A2C42;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  height: 30px;
  line-height: 30px;
  font-size: 1.2em;
  padding-left: 10px;
}

.main-container {
  margin: 20px;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 100px;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 40px;
  width: 350px;
}

.tile p {
  font-size: 1.4em; 
  margin: 5px 0;
}

.tile form {
  width: 80px; 
  margin: 5px 0;
}

.tile button:hover {
  cursor: pointer;
}

.tile ul {
  margin: 5px 0 10px 0;
  padding-left: 15px;
}

.tile ul li {
  font-size: 1.4em; 
  line-height: 1.2;
}

.img-recipe {
  height: 180px;
  align-self: center;
}