<div class="main-container">

  <h1>Account page</h1>

  <h2>Username: {{username}}</h2>
  
  <form class="btn-submit" method="post" action="/user/logout">
    <input type="submit" value="Log out"/>
  </form>

</div>


