<form action="/" method="post">

  <label>Title</label>
  <input name="title"/>
  <br>

  <label>Level</label>
  <input name="level"/>
  <br>

  <label>Ingredients</label>
  <input name="ingredients"/>
  <br>

  <label>Cuisine</label>
  <input name="cuisine"/>
  <br>

  <label>Dish Type</label>
  <select name="dishType">
    <option value="Breakfast">Breakfast</option>
    <option value="Dish">Dish</option>
    <option value="Snack">Snack</option>
    <option value="Drink">Drink</option>
  </select> 
  <br>

  <label>Duration</label>
  <input name="duration"/>
  <br>

  <label>Creator</label>
  <input name="creator"/>
  <br>

  <button type="submit">submit</button>

</form>