<div class="main-container">
  <h1>Create a recipe</h1>

  <form method="post" action="/recipe/create">

    <label>Title: 
      <input type="text" name="title">
    </label>

    <label>
      Level: <input type="text" name="level">
    </label>

    <label>
      Ingredients: <input type="text" name="ingredients">
    </label>

    <label>
      Cuisine: <input type="text" name="cuisine">
    </label>
    
    <label>
      Dish type: <input type="text" name="dishType">
    </label>

    <label>
      Image URL: <input type="text" name="image">
    </label>

    <label>
      Durations (mins): <input type="number" name="duration">
    </label>

    <label>Cook: 
      <select name="cook">
          {{#each cooks}}
              <option value="{{_id}}">{{fullName}} - {{nationality}}</option>
          {{/each}}
      </select>
    </label>

    <input method="post" class="btn-submit" type="submit" value="Create">

  </form>  

</div>

