<div class="main-container">
  <h1>Create a cook</h1>

  <form method="post" action="/cook/create">

    <label>
      Full Name: <input type="text" name="fullName">
    </label>

    <label>
      Nationality: <input type="text" name="nationality">
    </label>

    <input method="post" class="btn-submit" type="submit" value="Create">

  </form>  

</div>

