<div class="main-container">
  <h1>Cook to edit</h1>

  <form method="post" action="/cook/edit/{{cook._id}}">

    <label>
      Full Name: <input type="text" name="fullName" value="{{cook.fullName}}">
    </label>

    <label>
      Nationality: <input type="text" name="nationality" value="{{cook.nationality}}">
    </label>

    <input method="post" class="btn-submit" type="submit" value="Update">

  </form>  

</div>

